*{
    box-sizing: border-box; 
    font-size: 0px;
}
body {
    margin: auto;
    max-width: 880px;
    margin-top: 100;
}
.pink {
    margin: 10px;
    height: 120px;
    width: 860px;
    background-color: pink;


}
.magenta{
    display: inline-block;
    height: 120px;
    margin: 10px;
    width: 200px;
    background-color: magenta;
}
.lightblue{
    display: inline-block;
    height: 120px;
    margin: 10px;
    width: 420;
    background-color: lightblue;
    
    

}
.green{
    display: inline-block;
    height: 120px;
    margin: 10px;
    width: 630px;
    background-color: green;
    

}
.orange{
    display: inline-block;
    height: 120px;
    margin: 10px;
    width: 210px;
    background-color: orange;
    
    
    
}